.App {
  text-align: center;
}
body {
  font-family: 'Gothic A1', sans-serif;
}
#content {
  padding-top: 100px; 
}
#main {
  font-size: 40px;
}

.App-header {
    position: relative;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9) ),url("../src/images/personal-trainer-2.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70%;
    min-height: 290px;
    color: white;
    background-attachment: fixed;
}
@media screen and (min-width: 768px) {
  .navbar {
  background: transparent;
  border-color: transparent;
 }
}

.App-link {
  color: #09d3ac;
}
